@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #022c43;
  color: #ffd700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.grid-container {
  border: 8px solid #ffd700;
  border-radius: 50%;
  padding: 50px;
  width: 550px;
  height: 550px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 3fr 3fr 3fr 1fr;
}

.duration-modifiers {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-self: center;
  border: 2px solid #ffd700;
  border-radius: 8px;
  width: 215px;
  margin-bottom: 15px;
}
.increment-button,
.decrement-button {
  justify-self: center;
  align-self: center;
  margin-top: -50px;
  cursor: pointer;
  border: none;
  color: #ffd700;
  background: none;
  transition: all 0.3s ease;
}

.increment-button:hover,
.decrement-button:hover {
  color: white;
}

.modifier-label {
  text-align: center;
  padding-top: 5px;
}
.modifier-timer {
  text-align: center;
  margin-top: -65px;
  font-size: 1.5rem;
}

.timer-container {
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-template-columns: auto;
}
#timer-label {
  text-align: center;
}
#time-left {
  display: flex;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
.media-controls {
  display: flex;
  justify-self: center;
  margin-top: 5px;
  margin-left: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

#reset,
#start_stop {
  color: #ffd700;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#reset:hover,
#start_stop:hover {
  color: white;
}
#reset {
  padding-left: 10px;
}

.heading {
  font-family: monospace;
  font-size: 70px;
  color: #ffd700;
  text-align: center;
  padding-bottom: 71px;
}
.heading span {
  z-index: -1;
  position: absolute;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
