@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(#115173, #022c43);
  color: #ffd700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.grid-container {
  background: rgba(0, 0, 0, 0.699);
  border-radius: 5px;
  padding: 50px;
  width: 450px;
  height: 380px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2fr 4fr;
  margin-bottom: 110px;
}

.duration-modifiers {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-self: center;
  width: 180px;
  margin-left: -10px;
  margin-right: auto;
  margin-top: -20px;
}
.increment-button,
.decrement-button {
  justify-self: center;
  align-self: center;
  margin-top: -50px;
  cursor: pointer;
  border: none;
  color: #ffd700;
  background: none;
  transition: all 0.3s ease;
}

.increment-button:hover,
.decrement-button:hover {
  color: white;
}

.modifier-label {
  text-align: center;
  padding-top: 5px;
}
.modifier-timer {
  text-align: center;
  margin-top: -65px;
  font-size: 1.5rem;
}

.timer-container {
  grid-area: 2 / 1 / 2 / span 2;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 100%;
}
#timer-label {
  text-align: center;
  font-size: 2.5rem;
}
#time-left {
  display: flex;
  width: 60%;
  border: 2px solid;
  border-radius: 5px;
  font-size: 4rem;
  justify-self: center;
  justify-content: center;
  align-items: center;
}
.media-controls {
  display: flex;
  justify-self: center;
  margin-left: 5px;
  margin-top: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

#reset,
#start_stop {
  color: #ffd700;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
#reset:hover,
#start_stop:hover {
  color: white;
}
#reset {
  padding-left: 10px;
}

.heading {
  font-size: 60px;
  color: #ffd700;
  text-align: center;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
